*{
  font-family: monospace;
}
.all {
  display: grid;
  height: 750px;
  width: 900px;
  border: solid 1px;
  border-radius: 5%;
  overflow: hidden;
  font-size: 18px;

  align-items: center;
}
.middle{
  padding-top: 30%; 
}

.title {
  font-size: 29px;
  text-align: center;
  margin-top: -49px;
  padding-top: 10px;
  padding-bottom: 10px; 
  border-radius: 5%;
  background: radial-gradient(rgb(71, 69, 69), rgba(97, 87, 87, 0.349)) ;
}

.tree-col {
  margin-top: -70px;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 33%);
}

.battle-log {
  text-align: center;
  margin-top: -100px;
}
.turn {
  text-align: center;
  margin-top: -70px;
}